<form [formGroup]="theForm" novalidate autocomplete="off">

  <label for="first-name"> Name: </label>
  <input id="first-name" type="text" formControlName="name">

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option *ngFor="let status of agencyStatuses" [value]="status.id">
        {{status.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <div class="action-container" fxLayout="row" fxLayoutAlign="end center">
    <button type="submit" mat-flat-button color="primary" class="save-btn" (click)="saveClicked()">
      <span class="header-btn-text">{{'actions.save' | translate}}</span>
    </button>
  </div>

  <!-- action bar -->
</form>