

.container {
  margin-left: 6px;
  height: 26px;
  min-width: 26px;
  border-radius: 13px;
  background-color: #ebf4ff;
}

.add_button {
  margin: 0px;
  vertical-align: middle;
  cursor: pointer;
}
