.page {
  width: 250px;
}

.header-section {
  height: 80px;
  padding-left: 5px;
}

.profile-name {
  margin-left: 12px;
  font-size: 12px;
  color: #484C50;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: lightgray;
}
