<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  Something goes here
  <div class="vert-spacer"></div>
  <app-user-menu />
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav">

    <div class="menu-item-container" *ngFor="let item of regularMenuItems">
      <app-menu-item [menuItem]="item"></app-menu-item>
    </div>

    <div class="vert-spacer"></div>

    <div class="menu-item-container" *ngFor="let item of adminMenuItems">
      <app-menu-item [menuItem]="item"></app-menu-item>
    </div>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet />
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>